.section-intro {
    /* background-image: url("./src/assets/background-intro.webp"); */
    /* background-image: url("./src/assets/bg_intro.jpg"); */
    background-image: url(/assets/background-intro.svg);
    /* background-image: url("./src/assets/bg-anim-intro.svg"); */
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: movingGradientIntro 8s ease infinite;
}

.moving-gradient {
    background: linear-gradient(-45deg,#f7258595, #4361ee95, #4cc9f095); /* Multiple colors */
    background-size: 400% 400%; /* Large background size for smoother movement */
    animation: moveGradient 15s ease infinite; /* Animate the gradient */
    min-height: 100vh; /* Full screen */
  }

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
        background: linear-gradient(-45deg);
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
        background: linear-gradient(-405deg);
      }
}
  
.section-portfolio {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: center;
    padding: 2rem;               
    color: white;
}

.section-divider{
    background-color: white;
    height: 0.1vh;
}
  
.herobuttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}