@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  /* background-color: #101010; */
  background-color: #000000;
  font-family: Montserrat;
  overflow-x: hidden;

}

/* .hero{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

.introText{
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.herobuttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo {
  height: 3em;
  padding: 0.4em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffffff);
}

.full-width-dropdown {
  width: 100%; /* Ensure button takes full width if needed */
}

.dropdown-menu {
  width: 100% !important; /* Make dropdown menu same width as button */
}

.compact-dropdown-item {
  display: flex;
  justify-content: space-between; /* Align text and icon */
  width: 100%;
}

.language-selector {
  margin-left: auto; /* Pushes the LanguageSelector to the right */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
}

.fade-in {
  animation: fadeIn 4s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Fully transparent */
  }
  50% {
    opacity: 0; /* Fully transparent */
  }
  100% {
    opacity: 1; /* Fully opaque */
  }
}

.tracking-in-expand-fwd {
	animation: tracking-in-expand-fwd 1s ease-in-out both;
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -1em;
    transform: translateZ(-500px) scale(0.8);
    opacity: 0;
  }
  30% {
    letter-spacing: -0.5em;
    opacity: 0.4;
  }
  60% {
    letter-spacing: 0em;
    opacity: 0.8;
  }
  100% {
    transform: translateZ(0) scale(1);
    letter-spacing: 0.05em;
    opacity: 1;
  }
}

.link-white-blue{
  color: white;
  transition: color 0.3s ease
}
.link-white-blue:hover{
  color: #24A1DE
}

.slideInLeft{
  animation: slideInLeft 4s ease-out;
}

@keyframes slideInLeft {
  0%{
    transform: translateX(200%);
  }
  50%{
    transform: translateX(200%);
  }
}

.slideInRight{
  animation: slideInRight 1s ease-out;
}

@keyframes slideInRight {
  0%{
    transform: translateX(-600%);
  }
}

.slideInRightSlow{
  animation: slideInRightSlow 2s ease-out;
}

@keyframes slideInRightSlow {
  0%{
    transform: translateX(-120%);
  }
  25%{
    transform: translateX(-120%);
  }
}

.dropshadow{
  filter: drop-shadow(0px 0px 5px #00000050);
}